@import "tailwindcss";

@theme inline {
  --font-serif: var(--font-cormorant-garamond);
  --font-sans: var(--font-poppins);
}

.article {
  @apply flex flex-col gap-1 font-serif text-lg tracking-wide;
}

.article > h1 {
  /* text-align: center; */
  @apply font-serif text-4xl text-center tracking-tight;
}

.article > h2 {
  @apply font-serif text-3xl tracking-tight;
}

.article > ol {
  @apply list-decimal flex flex-col mx-10 gap-2;
}

.article > ul {
  @apply list-disc flex flex-col mx-10 gap-2;
}

.article > pre {
  @apply bg-neutral-950 text-neutral-50 p-5 overflow-scroll;
}

.article > blockquote {
  @apply pl-5 italic border-l-2 border-neutral-600/40;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
